extends layout

block content
  body.animated.fadeIn(ng-controller='devotionalsController')

    header
      #cssmenu
        ul
          li
            a(href='/')
              span Inicio
          li.active
            a(href='/showDevotionals', ng-show = 'session()')
              span Devocionales
          li
            a(href='/showUsers')
              span Misioneros
          li.last
            a.cd-btn(href='#' ,ng-show = 'session()')
              span Perfil
          ul.navbar-right
            li
          
              a(href='/login',ng-hide = 'session()')
                span Iniciar Sesión
         
              a(href='/logout',ng-show = 'session()',ng-click='clearStorage()')
                span Cerrar Sesión

    .container-fluid
      
      main.cd-main-content
        .jumbotron(style = 'margin-top : 1%')
              .row(style='margin-top:3%; font-size:180%')
                .col-md-10.col-md-offset-1
                  h2 #{title}
              .row(style='margin-top:4%; font-size:120%')
                .col-md-12(style="white-space: pre-line;")
                  h2 #{body}
              .row(style='margin-top:3%;')
                .col-md-4.col-md-offset-8
                  h4#devDate
                  
              .row(style='margin-top:3%;')
                .col-md-8.col-md-offset-2(align='center')
                  img(src='/img/devotionalPhotos/#{id}.jpg', alt='...',ng-if= "#{img}").img-responsive
              .row(style='margin-top:3%;')
                .col-md-12
                   video(width='320', height='240', controls,ng-if = "#{video}")
                    source(src='/video/devotionalVideos/#{id}.mp4', type='video/mp4')
                    
                    | Your browser does not support the video tag.
              .row(style='margin-top:3%;')
                .col-md-6.col-md-offset-3
                  audio(controls,ng-if= "#{audio}")
                    source(src='/audio/devotionalAudios/#{id}.mp3', type='audio/mpeg')
                    |   Your browser does not support the audio tag.




         //panel for real time chat
      .cd-panel.from-right
        header.cd-panel-header
          h1(align='center') Perfil del Misionero
          a.cd-panel-close(href='#0') Close
        .cd-panel-container
          .cd-panel-content

            .row
              .col-md-4.col-md-offset-1
                a.thumbnail(href='#')
                  img.img-responsive.img-rounded(src='/img/userPhotos/{{id}}.jpg', alt='img-responsive')

              .col-md-7
                .well.well-lg
                  h3
                    .row
                      .col-md-3
                        span.glyphicon.glyphicon-user(aria-hidden="true")
                      .col-md-offset-1
                        | {{name}}

                    .row.margin-top
                      .col-md-3
                         span.glyphicon.glyphicon-gift(aria-hidden="true")
                      .col-md-offset-1
                        | Cumpleaños: {{day}}/{{month}}

                     .row.margin-top
                      .col-md-3
                        span.glyphicon.glyphicon-pushpin(aria-hidden="true")
                      .col-md-offset-1
                        | Lugar de Servicio: 
                      .row.margin-top
                        .col-md-offset-3
                          {{servicePlace}}
                        
                     .row.margin-top
                        .col-md-10.col-md-offset-1
                          a(href='/edit/user/{{id}}')
                            | Editar Información

            .row
                              .col-md-11.col-md-offset-1
                                .well.well-lg
                                  .row
                                      .col-md-3
                                        span.glyphicon.glyphicon-tag(aria-hidden="true")
                                      .col-md-offset-1
                                        | Biografía:

                                     .row.margin-top
                                      .col-md-10.col-md-offset-1(style="white-space: pre-line;")
                                        {{biography}}

              
            
            .footer.col-md-10.col-md-offset-1
              
                
            
          // cd-panel-content
        // cd-panel-container
      // cd-panel

      script(src='/socket.io/socket.io.js')
      script.
         var date = new Date("#{date}");
         moment.locale("es");
         
         document.getElementById("devDate").innerHTML = moment(date).fromNow();